@charset "UTF-8";
body{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    justify-content: center; 
    align-items: center;      
    background-color: #fffefe;
    flex-direction: column;   
}

p{
    font-size: 25px;
    color: black;
    text-align: center;
}

.header{
    padding: 10px 20px;
    color: white;
    front-size: 20px;
    front-weight: bold;
    text-align: center;
}
.header.admin{
    background-color: rgb(239, 112, 112);
}
.header.user{
    background-color: rgb(51, 207, 250);
}
.header.quiz{
    background-color: rgb(250, 247, 51);
}
.header.words{
    background-color: rgb(40, 244, 37);
}

@media screen and (max-width: 600px) {
    .header{
        padding: 8px 10px;
        font-size: 16px;
    }
}

.button{
    display: inline-block;
    padding: 14px 0;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    min-width: 150px;
    min-height: 50px;
    max-width: 150px;
    max-height: 50px;
    text-align: center;
    border:2px solid #000;
    background-color: white;
    color: black;
    text-decoration: none; 
}

.login-button{
    display: inline-block;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    border:2px solid #000;
    text-align: center;
    text-decoration: none; 
    border-radius: 8px;
    margin-top: 30px;
}
.red-button{
    background-color: rgb(246, 76, 76);
    color: white;
    border: none;
}
.green-button{
    background-color: green;
    color: white;
    border: none;
}
.blue-button,a.blue-button{
    background-color: blue;
    color: white;
    border: none;
}
   
.button-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.button-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:60vh;
    max-width: 800px;
    margin: 0 auto;
}
.question{
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;;
}
.answer{
    font-size: 24px;
    text-align: center;
    min-height: 24px;
    margin-bottom: 20px;
    color: rgba(0, 98, 255, 0.5);
}
.quiz-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 80px;
}
.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.error-message {
    color: red;
    text-align: center;
}
.message{
    color: blue;
    text-align: center;
}
.serch-box{
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.words-button{
    padding: 5px 10px;
    font-size: 12px;
    background-color:white;
    color: #000;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
}    
.category-table td .button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin:0;
}
.words-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}
.left-position{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.right-position{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.word-table{
    width: 400px;
    border-collapse: collapse;
    margin-top: 20px auto;
    font-size: 16px;
}
.category-table{
    width: 400px;
    border-collapse: collapse;
    margin-top: 0 auto 20px auto;
    font-size: 16px;
}
.word-table th, .word-table td{
    border: 1px solid #6d6d6d;
    padding: 12px 8px;
    text-align: left;
    height: 20px;
    vertical-align: middle;
}
.category-table th, .category-table td{
    border: 1px solid #6d6d6d;
    padding: 4px 6px;
    text-align: left;
    height: 10px;
    vertical-align: middle;
    line-height: 1.2;
    gap: 6px;
}

.words{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height:100Vh;
    justify-content: center; 
    align-items: center;      
    background-color: #fffefe;
} 

.word-homebutton{
    display: inline-block;
    padding: 8px 16px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    border:none;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.upload-sectioin{
    margin-bottom: 30px;
    text-align: center;
}

.category-checkbox{
    display:flex;
    flex-wrap: center;
    gap: 10px 20px;
}
.category-checkbox label{
    display: flex;
    align-items: center;
    width:calc(33.33% - 20px);
}
.word-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-item{
    margin-bottom: 16px;
    width : 400px;
    max-width: 400px;
}
.form-item label {
    margin-right: 10px;
    font-weight: bold;
}
.button-row-category{
    display: flex;
    justify-content: center;
    
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.text{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
    












h1 {
    color: black;
    text-align: center;
}

a{
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}





.box{
    width: 1000px;
    padding: 20px;
    background: #dedbdb ;
    text-align: center;
    max-width: 100%;
    margin: 16px auto;
    border-radius: 4px;
    box-sizing: border-box;
}



    






